ProjectNew/ProjectNew/TransactionWebserviceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.assignment3.mcda5510.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.assignment3.mcda5510.com" xmlns:intf="http://service.assignment3.mcda5510.com" xmlns:tns1="http://entity.assignment3.mcda5510.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.assignment3.mcda5510.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://entity.assignment3.mcda5510.com"/>
   <element name="getTransaction">
    <complexType>
     <sequence>
      <element name="transactionId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTransactionResponse">
    <complexType>
     <sequence>
      <element name="getTransactionReturn" type="tns1:Transaction"/>
     </sequence>
    </complexType>
   </element>
   <element name="createTransaction">
    <complexType>
     <sequence>
      <element name="transaction" type="tns1:Transaction"/>
     </sequence>
    </complexType>
   </element>
   <element name="createTransactionResponse">
    <complexType>
     <sequence>
      <element name="createTransactionReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateTransaction">
    <complexType>
     <sequence>
      <element name="transaction" type="tns1:Transaction"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateTransactionResponse">
    <complexType>
     <sequence>
      <element name="updateTransactionReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeTransaction">
    <complexType>
     <sequence>
      <element name="transactionId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeTransactionResponse">
    <complexType>
     <sequence>
      <element name="removeTransactionReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://entity.assignment3.mcda5510.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Transaction">
    <sequence>
     <element name="cardNo" nillable="true" type="xsd:string"/>
     <element name="cardType" nillable="true" type="xsd:string"/>
     <element name="createdBy" nillable="true" type="xsd:string"/>
     <element name="createdOn" nillable="true" type="xsd:dateTime"/>
     <element name="expDate" nillable="true" type="xsd:string"/>
     <element name="id" nillable="true" type="xsd:int"/>
     <element name="nameOnCard" nillable="true" type="xsd:string"/>
     <element name="quantity" nillable="true" type="xsd:int"/>
     <element name="totalPrice" nillable="true" type="xsd:float"/>
     <element name="unitPrice" nillable="true" type="xsd:float"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="removeTransactionRequest">

      <wsdl:part element="impl:removeTransaction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createTransactionResponse">

      <wsdl:part element="impl:createTransactionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateTransactionRequest">

      <wsdl:part element="impl:updateTransaction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTransactionResponse">

      <wsdl:part element="impl:getTransactionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTransactionRequest">

      <wsdl:part element="impl:getTransaction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateTransactionResponse">

      <wsdl:part element="impl:updateTransactionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeTransactionResponse">

      <wsdl:part element="impl:removeTransactionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createTransactionRequest">

      <wsdl:part element="impl:createTransaction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TransactionWebserviceImpl">

      <wsdl:operation name="getTransaction">

         <wsdl:input message="impl:getTransactionRequest" name="getTransactionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTransactionResponse" name="getTransactionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTransaction">

         <wsdl:input message="impl:createTransactionRequest" name="createTransactionRequest">

       </wsdl:input>

         <wsdl:output message="impl:createTransactionResponse" name="createTransactionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateTransaction">

         <wsdl:input message="impl:updateTransactionRequest" name="updateTransactionRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateTransactionResponse" name="updateTransactionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeTransaction">

         <wsdl:input message="impl:removeTransactionRequest" name="removeTransactionRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeTransactionResponse" name="removeTransactionResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TransactionWebserviceImplSoapBinding" type="impl:TransactionWebserviceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTransaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTransactionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTransactionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTransaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createTransactionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createTransactionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateTransaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateTransactionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateTransactionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeTransaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeTransactionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeTransactionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TransactionWebserviceImplService">

      <wsdl:port binding="impl:TransactionWebserviceImplSoapBinding" name="TransactionWebserviceImpl">

         <wsdlsoap:address location="http://localhost:9090/Assignment3/services/TransactionWebserviceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>